.lucide-icon {
  width: 28px;
  height: 28px;
  stroke-width: 2.2;
}

.icon-sun {
  color: #f5b301;
}

.icon-cloud {
  color: #888888;
}

.icon-cloud-rain {
  color: #3399ff;
}

.icon-cloud-lightning {
  color: #cc6600;
}

.icon-cloud-snow {
  color: #a3d2f7;
}

.icon-cloud-fog {
  color: #cccccc;
}
