
/* Animation styles */
.section {
  position: absolute;
  width: 100%;
  top: 80px;
  left: 0;
  display: none;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 0;
}

.section.active {
  display: block;
  opacity: 1;
  z-index: 1;
}

.slide-up {
  transform: translateY(100%);
}

.slide-down {
  transform: translateY(0%);
}

.section.show-up {
  transform: translateY(0%);
  opacity: 1;
}

.section.hide-down {
  transform: translateY(100%);
  opacity: 0;
}
